{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}

    <div>
        <form method="POST">
            {% csrf_token %}
            <label>Email : </label>
            <input type="text" name="email" placeholder="Enter username" />
            <label>Password : </label>
            <input type="password" name="password" placeholder="Enter password"/>
            <input type="submit" value="Login"/>
        </form>
        <p>Have'nt signed up yet?</p>
        <a href="{% url 'register'%}">Signup</a>
    </div>

{%else%}

    <div>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Register"/>
        </form>
        <p>Allready signed up?</p>
        <a href="{% url 'login'%}">Login</a>
    </div>

{%endif%}

{% endblock content %}